<row mc:repeatable mc:variant="one column text white bg" >
    <columns small="12" large="12" class="blue text-center p20">
        <h3 mc:edit="one-column-white-title" class="p5 blue text-left">Heading</h3>
        <p mc:edit="one-column-white-para" class="blue p10">
            Oh, king eh? Very nice. And how'd you get that, eh? 
            By exploiting the workers. By hanging on to outdated 
            imperialist dogma which perpetuates the economic 
            and social differences in our society.</p>
    </columns>
</row>