<row mc:repeatable mc:variant="one column text white bg" >
    <columns small="12" large="12" class="white p20">
        <h3 mc:edit="one-column-white-title" class="white p5 text-left">Heading</h3>
        <p mc:edit="one-column-white-para" class="white p10 ">What is the capital of Assyria? Are you suggesting
         coconuts migrate? You don't frighten us, English 
         pig dogs. Go and boil your bottoms, you sons of a 
         silly person. I blow my nose at you, so-called "Arthur 
         King," you and all your silly English K-nig-hts.</p>
    </columns>
</row>