<row mc:repeatable mc:variant="two col images">
    <columns class="white p20 "small="12" large="6">
        <center>
            <img class="p5" mc:edit="right-image" src="http://via.placeholder.com/250x150" />
            <small mc:edit="right-image-caption" class="white">this is a caption</small>
        </center>
    </columns>
    <columns class="white p20 "small="12" large="6">
        <center>
            <img class="p5" mc:edit="right-image" src="http://via.placeholder.com/250x150" />
            <small mc:edit="right-image-caption" class="white">this is a caption</small>
        </center>
    </columns>
</row>